{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user.isActivated %}
        <form name="myform" action="{{ path('securityCheckActivation') }}" method="post">
            <input type="hidden" name="check" value="1" />
        </form>
        // auto submit
        <script type="text/javascript">
            document.myform.submit();
        </script>
    {% else %}
        <h3>Merci d'activer votre compte avant d'y accéder</h3>
        <br>
        <a href="{{ path('securityLogout') }}">Accueil</a>
    {% endif %}
{% endblock %}
