{% extends 'base.html.twig' %}

{% block title %}Demande de reinitialisation {% endblock %}

{% block body %}
    <form method="post" class="w-50 p-3 shadow p-3 mb-5 bg-white">
    {% if erreur is defined%}
        <p class="alert alert-danger">{{ erreur }}</p>
    {% endif %}
    {% if retour is defined%}
        <p class="alert alert-success">{{ retour }}</p>
    {% else %}
    <h1 class="h3 mb-3 font-weight-normal">Demande de reinitialisation du mot de passe</h1>
    <div class="form-group">
        <label for="inputLogin" >Adresse mail</label>
        <input type="text"  name="mail" id="inputLogin" class="form-control" placeholder="Entrez votre adresse mail" required autofocus>
    </div>

    <input type="submit" value="Envoyer une demande" class="btn btn-success">
    </form>
    {% endif %}
{% endblock %}