{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <h3 class="alert alert-success">Succès</h3>
    <h2>Votre compte a bien été activé</h2>
    <a class="btn btn-primary" href="/">Accueil</a>
</div>


{% endblock %}