{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4 class="alert alert-success">Opération effectué</h4>
        <h2 class="">Un mail de confirmation vous a été envoyé à l'adresse <span> {{ mail }} </span></h2>
        <a class="btn btn-primary" href="/">Accueil</a>
    </div>
{% endblock %}