{% extends 'base.html.twig' %}

{% block title %}Edit RepresentantFamille{% endblock %}

{% block body %}
    <h1>Edit RepresentantFamille</h1>

    {{ include('representant_famille/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('representant_famille_index') }}">back to list</a>

    {{ include('representant_famille/_delete_form.html.twig') }}
{% endblock %}
