
{% block body %}
    <h2>Mon espace</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Informations familliales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Membres de ma famille</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Informations personnelles</a>
        </li>
    </ul>
{% endblock %}