{% extends 'base.html.twig' %}

{% block body %}
<h1>Odyssée du cirque</h1>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mon compte
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{{ path('Representant.identification') }}">Se connecter</a>
        <a class="dropdown-item" href="{{ path('Representant.ajouter') }}">Créer un compte</a>
        <a class="dropdown-item" href="#">Informations</a>
    </div>
</div>
{% endblock %}