<nav>
    <a href="{{ path('representant_famille_new') }}">Inscription</a>
    {% if not app.user %}
        <a href="{{ path('securityLogin') }}">Connexion</a>
    {% else %}
        <a href="{{ path('securityLogout') }}">Déconnexion</a>
    {% endif %}
</nav>