{% extends 'base.html.twig' %}
{% block title %} Ajouter un gestionnaire - Odyssée du cirque {% endblock %}

{% block body %}
    <div>
        <h2 class="mx-5 my-3"> Votre espace </h2>
        {% include 'back_office/gestionnaire/espaceGestionnaire.html.twig' %}
    </div>
    <div class="mx-5 my-3 shadow-lg p-3 bg-white rounded">
        <h3 class="w-100"> Ajouter un gestionnaire </h3>
        <div class="my-3">
            <form class="mr-3 d-inline" action="{{ path('SuperAdmin.ListeGestionnaires.show') }}">
                <button type="submit" class="btn btn-secondary"> Retourner à la liste des gestionnaires </button>
            </form>
        </div>
        {{ form_start(form) }}
        {{ include('form/_formGestionnaire.html.twig', {'button_label': 'Ajouter'}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}