{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <br>
        <div class="row">
            <form action="{{ path("Gestionnaire.showListeFamilles") }}">
                <button type="submit" class="btn btn-primary"> Revenir à la liste des repérsentants </button>
            </form>
        </div>
        <br>
        <form method="POST" action="{{ path('Gestionnaire.validEditRepresentant') }}">
            <legend> Modifier les informations concernant un représentant </legend>
            <br>
            {{ include('gestionnaire/_formRepresentant.html.twig', {button: 'Modifier'}) }}
        </form>
    </div>
{% endblock %}